{% extends "mysite/base.html" %}

{% block content %}
<head>
    <style>
    body {background: url(static/mysite/images/фон.jpg) center fixed;
    background-size: 100%;
     -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;}
    </style>
</head>
<br>
<div class="container">
    <div class="row">
    {% for i in object_list %}
        <div class="col-lg-4">
            <h4><a style="color: #6f5a00" href="{{i.get_absolute_url}}">{{i.title}}</a></h4>
            {% if i.image %}
            <p><img src="{{i.image.url}}" width="300" height="178"></p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}

